/****** PLACE YOUR CUSTOM STYLES HERE ******/
.module {
    padding: 0 54px;
}

.logo {
    max-height: 55px;
}

.nav-utility {
    height: 65px;
    max-height: 65px;
    line-height: 26px;
}

nav.nav-centered .logo {    
    margin: 0;
}

.bg-primary {
	padding-top: 40px;
	padding-bottom: 40px;
}

section {
    padding: 18px 0;
 }

 select {
 	text-transform: none;

 }

.titulo-curso {
    letter-spacing: 6px;
    margin-right: -6px;
    margin-bottom: 0 !important;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
}

.menu > li {
    margin-right: 20px;
}

.nav-utility {
    border-bottom: 0;
}

.form-control {
    background-color: #f5f5f5;
    color: inherit;
    text-transform: uppercase;
    font-size: inherit;
    height: 50px;
    font-weight: 500;
    margin-bottom: 24px;
    border: none;
    border-radius: 0;
}

.sub:hover {
    color: #1F367E;
}

select {
    -webkit-appearance: menulist;
    padding-left: 20px;
}

.post-title > h1 {
    bottom: -2px;
    box-sizing: border-box;
    color: rgb(41, 41, 41);
    display: inline-block;
    height: 32px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 2px;
    width: 347.812px;
    column-rule-color: rgb(41, 41, 41);
    perspective-origin: 173.906px 16px;
    transform-origin: 173.906px 16px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 300 normal 24px / 32px Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(41, 41, 41) none 0px;
}

.titulo-box {
    text-align: center; text-transform: uppercase; font-size: 24px; background: #1F367E; color: white; border-radius: 5px 5px 0 0; line-height: 42px; font-weight: 700;
}

.dados-box {
    text-align: center; font-size:16px; text-transform:uppercase; background: #1F367E; color: white; padding: 5px 0;
}

.interno-box { padding: 0 10px; }

.box-contato { background:#e9e9e9; border-radius:5px; padding: 0;}

button:hover {
    background: white;
    color: #1F367E;
}

button {
    transition: all 0.3s ease;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: initial;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.post-title > h1 {
    width: inherit;
}

body {
    font-size: 14px;
}

.laranja {
    background: orange !important;
    color: white !important;
    border-color: orange !important;
}

button.laranja:hover {
    background: white !important;
    color: orange !important;
    border-color: orange !important;
}

.btn-laranja:hover {
    color:orange !important;
}

.texto-laranja {
    color:orange;
}

.vermelho {
    background: #a00000 !important;
    color: white !important;
    border-color: #a00000 !important;
}

button.vermelho:hover {
    background: white !important;
    color: #a00000 !important;
    border-color: #a00000 !important;
}

.btn-vermelho:hover {
    color: #a00000 !important;
}

.texto-vermelho {
    color: #a00000;
}


.verde {
    background: #214822 !important;
    color: white !important;
    border-color: #214822 !important;
}

button.verde:hover {
    background: white !important;
    color: #214822 !important;
    border-color: #214822 !important;
}

.btn-verde:hover {
    color: #214822 !important;
}

.texto-verde {
    color: green;
}

.azul {
    background: #006699 !important;
    color: white !important;
    border-color: #006699 !important;
}

button.azul:hover {
    background: white !important;
    color: #006699 !important;
    border-color: #006699 !important;
}

.btn-azul:hover {
    color: #006699 !important;
}

.texto-azul {
    color: #006699;
}

.form-control {
    text-transform: none;
    }

.link-list a:after {
    content: none;
}

.recent-posts {
    line-height: 14px;
    font-size: 12px;
}

h4.uppercase {
    letter-spacing: 1px;
    }

.menu li a {
    opacity: 0.9;
    font-weight: 700;
}

.texto-escuro {
    color:black;
    font-weight: 600;
}

.mega-menu > li {
    width: 400px !important;
    }

.menu > li ul {
    width: 400px;
}

.menu > li > ul > li {
     line-height: 18px;
}

.fade-50p {
    opacity: 0.5;
}


select {
    text-transform: uppercase !important;
    color: rgb(102, 102, 102);
    height: 50px;
    text-size-adjust: 100%;
    width: 340px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 170px 25px;
    transform-origin: 170px 25px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal 600 normal 12px / 24px Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin: 0px 0px 24px;
    outline: rgb(102, 102, 102) none 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 20px !important;
}

.pl20 {
    padding-left: 20px;
}

@media all and (max-width: 1024px){
   .nav-utility{ height: 60px; max-height: none; }
}

@media all and (max-width: 900px){
   body > div.nav-container > nav > div.nav-utility > div:nth-child(2), body > div.nav-container > nav > div.nav-utility > div:nth-child(3) {
    display: none;
   }
}

@media (max-width: 1220px) and (min-width: 521px) {
    .module {
    padding: 0 24px;
}
}
@media (max-width: 1250px) and (min-width: 990px) {
.menu li a {
    letter-spacing: 0.2px;
    font-size: 10px;
}
.menu li {
    margin-right: 10px;
}
}

@media all and (max-width: 521px){
    .module {
    padding: 0 18px;
}
}

.lineh20 > ul > li {
    line-height: 20px;
}

.features {
    height: 100% !important;
}

input[type="text"], input[type="password"], .form-control {
    border: 1px solid #ddd;
}

.accordion-1 .title, .accordion-1 .active .title:hover {
    background: #1f367e;
    color: white;
}

.accordion-1 .title:hover {
    color: #1f367e;
}

.accordion-1 .content {
    border: 2px solid #eee;
    }
	
	
.botao_padrao{
	background-color: rgb(31, 54, 126);
	background-size: auto auto;
	border-color: rgb(31, 54, 126);
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 48px;
	margin-bottom: 24px;
	padding: 1em 3em;
	text-align: center;
	text-transform: uppercase;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease;
	
}

.botao_padrao:hover{
	background-color: rgb(255, 255, 255);
	color: rgb(31, 54, 126) !important;
}

.botao_cursos{
	padding:0.1em;
	margin:auto;
	clear:both;
	display:block;
	margin-bottom: 1em;
}