/* CSS Document */
<!--
body,td,th {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
}
body {
background-color: #96c1c8;
background-image: url('../../../methodus/_img/layout_fundo.jpg');
background-repeat: repeat-x;
margin-left: 10px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
}
.menu_util
{
font-size:8px;
color:#666666;
text-decoration:none;
}
.menu_util:hover
{
text-decoration:underline;
}


.link_menu {
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}
.link_menu:hover {
	color:#FFCC00;
	text-decoration:none;
}

.rodape {
	color:#666666;
	font-size:10px;
}


.input_01 
{
	border:solid;
	border-width:1px;
	border-right-color:#CCCCCC;
	border-top-color:#CCCCCC;
	border-bottom-color:#CCCCCC;
	border-left-color:#CCCCCC;
	color:#000000;
	font-size:14px;
	font-family:"Trebuchet MS";
	height:25px;
	background-color:#F6F6F6;
}

.botao_01 
{
	background:url(../../_img/layout_03.gif) repeat-x;
	border:solid;
	border-width:1px;
	border-right-color:#FFCC00;
	border-top-color:#FFCC00;
	border-bottom-color:#FFCC00;
	border-left-color:#FFCC00;
	color:#000000;
	font-size:10px;
	font-family:"Trebuchet MS";
	height:25px;
}

a {
	color:#0066CC;
	text-decoration:none;
}
a:hover {
	color:#FFCC00;
	text-decoration:none;
}

.texto_01 {
	color:#FF9900;
	font-weight:bold;
}
.texto_02 {
	font-size:12px;
}
.texto_03 {
	font-size:14px;
	color:#0066CC;
	font-weight:bold;
}

.menu01, .menu01:visited
{
	font-size:13px;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
.menu01:hover
{
	color:#6b8aa1;
}

.menu_rodape, .menu_rodape:visited
{
	font-size:9px;
	color:#FFFFFF;
	text-decoration:none;
}
.menu_rodape:hover
{
	color:#6b8aa1;
	text-decoration:underline;
}
-->