/*********************
*
*	ColorPicker
*
**********************/

.colorpicker div {
	width: 280px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #000000;
	background: #D4D0C8;
	position: relative;
	float: left;
}

.colorpicker div {
	padding: 0px;
	margin: 0px;
}

.colorpicker div span {
	width: 50px;
	height: 20px;
	margin: 2px 0px 0px 2px;
	cursor: default;
	border: 1px solid #000000;
	float: left;
}

.colorpicker div input {
	height: 21px;
	padding: 5px 0px 0px 20px;
	margin: 0px;
	border: none;
	background: none;
}

.colorpicker ul {
	padding: 0px;
	margin: 0px;
}

.colorpicker ul li {
	list-style: none;
	float: left;
}

.colorpicker ul li a {
	width: 12px;
	height: 12px;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #000000;
	float: left;
}