/* CSS Document */
<!--
body,td,th {
	color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
body {
	background-color: #CCCCCC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

	.link_01 {font-family:verdana, arial, tahoma; font-size:10px; color: #FF0000; text-decoration:none; font-weight: bold;}
	.link_01:link {font-family:verdana, arial, tahoma; font-size:10px; color: #FF0000; text-decoration:none; font-weight: bold;}
	.link_01:hover {font-family:verdana, arial, tahoma; font-size:10px; color: #AAAAAA; text-decoration:none; font-weight: bold;}
	
	.link_02 {font-family:verdana, arial, tahoma; font-size:16px; color: #FF0000; text-decoration:none; font-weight: bold;}
	.link_02:link {font-family:verdana, arial, tahoma; font-size:16px; color: #FF0000; text-decoration:none; font-weight: bold;}
	.link_02:hover {font-family:verdana, arial, tahoma; font-size:16px; color: #AAAAAA; text-decoration:none; font-weight: bold;}
	
	.link_03 {font-family:verdana, arial, tahoma; font-size:10px; color: #FFFFFF; text-decoration:none; font-weight: bold;}
	.link_03:link {font-family:verdana, arial, tahoma; font-size:10px; color: #FFFFFF; text-decoration:none; font-weight: bold;}
	.link_03:hover {font-family:verdana, arial, tahoma; font-size:10px; color: #EEEEEE; text-decoration:none; font-weight: bold;}
		
	.link_04 {font-family:verdana, arial, tahoma; font-size:10px; color: #AAAAAA; text-decoration:none; font-weight: bold;}
	.link_04:link {font-family:verdana, arial, tahoma; font-size:10px; color: #AAAAAA; text-decoration:none; font-weight: bold;}
	.link_04:hover {font-family:verdana, arial, tahoma; font-size:10px; color: #FF0000; text-decoration:none; font-weight: bold;}
	
	a {text-decoration:none;}
	a:link {text-decoration:none;}
	a:hover {text-decoration:none;}
	
	.entrada 
	{
	border:solid;
	border-width:1px;
	border-right-color:#808080;
	border-top-color:#CCCCCC;
	border-bottom-color:#808080;
	border-left-color:#CCCCCC;
	color:#000000;
	font-size:10px;
	font-family:verdana;
	height:20px;
	}
	
	.botao1 
	{
	border:solid;
	border-width:1px;
	border-right-color:#000000;
	border-top-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
	color:#FFFFFF;
	background-color:#FF0000;
	font-size:10px;
	font-family:verdana;
	height:20px;
	font-weight: bold;
	}
	
	.botao2 
	{
	border:solid;
	border-width:1px;
	border-right-color:#000000;
	border-top-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
	color:#000000;
	background-color:#EDEDED;
	font-size:10px;
	font-family:verdana;
	height:20px;
	}

#dhtmltooltip
{
	position: absolute;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,direction=135);
}

.caixa_selecao
{
	border: 1px solid black;
	padding: 2px;
	background-color: #FFFFFF;
	z-index: 100;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
-->