@charset "utf-8";
/* CSS Document */
body, *{
	margin:0;
	padding:0;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
}
body{
	background-color:#002600;
	color:#FFF;
	font-weight:bold;
}

a{
	color:#FFF;
}
a:hover{
	text-decoration:none;
}

.barra_ferramentas{
	margin:auto; background:#000; color:#FFF; padding:10px;	
}


.tabela{
	display:table; 
	width:100%;	
}

.linha{
	display:table-row; width:100%;	
}

.td{
	display:table-cell;	
	padding:10px;
	border-bottom:solid 1px #FFF;
	border-left:solid 1px #FFF;
	border-right:solid 1px #FFF;
}
.td.titulo{
	background-color:#999;
	color:#FFF;	
	text-align:center;
	border-bottom:solid 1px #333333;
	border-left:solid 1px #CCC;
	border-right:solid 1px #666666;
	font-size:22px;
}
.td.center{
	text-align:center;
}

.botao{
	position:relative;
}

.drop{
	display:none;
	background-color:#CCC;
	border:solid 1px #666666;
	border-bottom: none;
	position:absolute;
	min-width:250px;
	z-index:11;
}
.drop a{
	display:block;
	clear:both;
	padding:5px;
	border-bottom:solid 1px #666;
	color:#333;
	text-decoration:none;
	font-size:18px;
}
.drop a:hover{
	color:#F00;
}

.botao:hover .drop{
	display:block;	
}

.titulo_cheio{
	display:block;	
	padding:10px;
	background-color:#555;
	color:#FFF;	
	text-align:center;
	border-bottom:solid 1px #333333;
	border-left:solid 1px #CCC;
	border-right:solid 1px #666666;
	font-size:22px;
}

.caixa_dividida{
	display:inline-block;
	width:47%;	
	/*text-align:left;*/
}
.caixa_dividida.com_borda{
	border-left:solid 1px #CCC;
	/*text-align:right !important;*/
}


.botao_upload{
	position:relative;
	display:inline-block;
	background-image:url(../../imagens/upload.png);
	width:25px;
	height:25px;
	background-repeat:no-repeat;
	float:left;
}

.div_upload{
	display:none;
	background-color:#CCC;
	border:solid 1px #666666;
	border-bottom: none;
	position:absolute;
	z-index:2;
	color:#000;
	font-size:12px;
	
}
.botao_upload:hover .div_upload{
	display:block;	
}




.exercicio_arquivo{
	float:left;	
}

.icone_upload{
	background-image:url(../../imagens/upload.png);
	background-repeat:no-repeat;
	background-size:contain;	
	width:25px; 
	height:25px;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
	content:"";
	cursor:pointer;
}
.icone_upload:hover{
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.19);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.19);
}
.icone_upload:active{
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.19);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.19);
}

.icone_upload input {
    display: block !important;
    width: 26px !important;
    height: 26px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	cursor:pointer !important;
}

.upload_carregando{
	background-image:url(../../imagens/carregando.gif);
	background-repeat:no-repeat;
	background-size:contain;	
	width:25px; 
	height:25px;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
	content:"";
	cursor:default;
}

.upload_carregando input {
    display: none !important;
    width: 26px !important;
    height: 26px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	cursor:default !important;
}

.balao{
	display:inline-block;
	position:relative;
	cursor:pointer;
	text-align:left;
	margin-right:1em;
	margin-left:1em;
}
.balao div{
	display:none;
	position:absolute;
	background-color:#FF0;
	border:solid 1px #000000;
	color:#000;	
	top:1em;
	left:0;
	z-index:5;
	text-align:center;
	white-space:nowrap;
	padding:2em 1em;
	
}
.balao div b{
	display:inline-block;
	vertical-align:top;
	padding-top:10px;
}
.balao div span{
	display:inline-block;
}
.balao:hover div{
	display:block;	
}
hr{
	color:#000;
	height:1px;	
	border:none;
	border-top: solid 1px #000000;
}

.esconder{
	text-indent:-99999px ;
	background-color:#003;	
	cursor:pointer;
}

.span_invisivel{
	display:none;	
}

#aluno_0{
	color:#F00; 
	background-color:#DDD;	
}
